# 忽略 etcd 数据目录
deply/etcd/etcd-*

deply/es

deply/logstash/logstash

deply/nacos/logs

deply/redis/data

deply/jenkins/jenkins_home/*

*.idea
flink/flink-1.18.0/


video/configs/config.yaml
user/configs/config.yaml
relation/configs/config.yaml
message/configs/config.yaml
favorite/configs/config.yaml
comment/configs/config.yaml

favorite/deply
comment/deply
message/deply
relation/deply
user/deply
video/deply

video/store/video/*
/video/deply/nacos/

# 忽略所有 .log 文件
*.log